<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-
scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tp Thymeleaf</title>
</head>
<body>
<h1>Nouveau client</h1>
<br/>
<form action="#" th:action="@{/employes/addemploye}"
      th:object="${employe}" method="post">
    <table>
        <tr>
            <td>
                <label>Nom: </label>
            </td>
            <td>
                <input type="text" th:field="*{username}" name="Name"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Password: </label>
            </td>
            <td>
                <input type="text" th:field="*{password}" name="Name"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Email: </label>
            </td>
            <td>
                <input type="text" th:field="*{email}" name="Name"/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Role: </label>
            </td>
            <td>
                <input type="text" th:field="*{role}" name="Name"/>
            </td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>
                <input type="submit" value="Enregistrer"
                       name="Enregistrer"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>