<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-
scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tp Thymeleaf</title>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Deconnexion"/>
</form>
<br>
<br>
<a th:if="${current.role == 'ROLE_ADMIN'}" th:href="'/admin'">retour accueil</a>
<br>
<a th:if="${current.role == 'ROLE_USER'}" th:href="'/user'">retour accueil</a>
<br>
<h1>Nouveau ticket</h1>
<br/>
<form action="#" th:action="@{/tickets/postticket}"
      th:object="${ticket}" method="post">
    <table>
        <tr>
            <td>
                <label>Ticket type </label>
            </td>
            <td>
                <select th:field="${ticket.ticketType}">

                    <option value="bug technique">bug technique</option>
                    <option value="requête">requête</option>
                    <option value="autre">autre</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Description: </label>
            </td>
            <td>
                <input type="text" th:field="*{ticketDescription}" name="Name"/>
            </td>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
            <td>
                <input type="submit" value="Enregistrer"
                       name="Enregistrer"/>
            </td>
        </tr>
    </table>
</form>


</body>
</html>